{% extends 'iiits/base/base_faculty.html'%}
<div class="container-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div class="iiits-profile-img">
				<img src="{%static %}" alt="{{ }}">
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<div class="iiits-profile-header">
				<h3>{{ }}</h3>
			</div>
			<div class="iiits-profile-subheader">
				<span>{{ }}</span>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="iiits-tab-header-4" id="iiits-faculty-bio">
			<span class="iiits-tab-text">
				BIO
			</span>
		</div class="iiits-tab-header-4" id="iiits-faculty-teaching">
		<div>
			<span class="iiits-tab-text">
				TEACHING
			</span>
		</div>
		<div class="iiits-tab-header-4" id="iiits-faculty-publications">
			<span class="iiits-tab-text">
				PUBLICATIONS
			</span>
		</div>
	</div>	
</div>
